.Navigation_link {
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}
.Navigation_link_active {
  color: rgb(216, 120, 11);
}
.List {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* position: absolute;
  left: 15px;
  top: 10px; */
}
.avatar {
  position: absolute;
  right: 45px;
  top: -4px;
}
