.input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
  box-shadow: 10px 5px 5px rgb(85, 83, 83);
}
.lable {
  font-weight: 700;
  font-size: 20px;
}
.form {
  max-width: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 10px 5px 5px rgb(85, 83, 83);
}
