.item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 5px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(85, 83, 83);
  border-radius: 5px;
  /* padding-top: 3px; */
}
.list {
  padding: 0px;
  padding-top: 10px;
}
.enter {
  opacity: 0;
  transform: translateX(-100%);
  /* transform: scaleY(0.1); */
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  /* transform: scaleY(1); */
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateX(0);
  /* transform: scaleY(1); */
}
.exitActive {
  opacity: 0;
  /* transform: scaleY(0.1); */
  transform: translateX(-100%);
  transition: all 250ms linear;
}
